<!-- 비밀번호 찾기 -->
{% extends 'base.html' %} {% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link href="{% static 'img/plumn_icon.png' %}" rel="shorcut icon" />
    <title>{% block title %}비밀번호 찾기창 {% endblock %}</title>
    {% block head %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    {% endblock %}
  </head>

  <body>
    {% block content %}
    <div>
      <div class="container">
        <div class="img-box">
          <a href="{% url 'index' %}">
              <img class="picture" src="{% static 'img/plumn.png' %}" /></a>
              </div>
        <div class="text_wrap">
          <div class="tel_find">
            <h4>아이디를 입력하세요!</h4>
            <input type="text" class="input_margin" name="" id="" placeholder="아이디 입력" />
            <a class="find_pw_btn find_pw_btn_plumn" type="button" href="{% url 'find_pw_success' %}">
              비밀번호 초기화하기
          </a>
          </div>
        </div>
      </div>
      <hr class="hr_register" />
      <a href="{% url 'register' %}"> <p>계정 생성</p></a>
      {% endblock %}
    </div>
    {% block footer %} {% endblock %}
  </body>
</html>
