<!-- 회원가입 -->
{% extends 'base.html' %} {% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %} 회원가입 창 {% endblock %}</title>
    <link href="{% static 'img/plumn_icon.png' %}" rel="shorcut icon" />
    {% block head %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    {% endblock %}
  </head>
  <body>
    {% block content %}
    <div class="register_wrap">
      <div class="register_text">
        <div class="text_wrap">
          <h4>이름을 입력하세요!</h4>
          <input type="text" class="input_margin" name="" id="" placeholder="이름 입력" />
        </div>
      </div>

      <div class="register_text">
        <div class="text_wrap">
          <h4>아이디를 입력하세요!</h4>
          <input type="email" class="input_margin" name="" id="" placeholder="아이디 입력" />
        </div>
      </div>

      <div class="register_text">
        <div class="text_wrap">
          <h4>비밀번호를 입력하세요!</h4>
          <input type="password" class="input_margin" name="" id="" placeholder="비밀번호 입력" />
        </div>
      </div>

      <div class="register_text">
        <div class="text_wrap">
          <h4>비밀번호를 한 번 더 입력하세요!</h4>
          <input type="password" class="input_margin" name="" id="" placeholder="비밀번호 입력" />
        </div>
      </div>

      <div class="register_text">
        <div class="text_wrap">
          <h4>전화번호를 입력하세요!</h4>
            <input type="tel" class="input_margin" name="" id="" placeholder="000-0000-0000" />
        </div>
      </div>

      <div class="register">
        <div>
            <a class="register_btn register_btn_plumn" type ="button" href="{% url 'login' %}">
            회원가입
            </a>
            </div>
          <div>
            <a class="register_btn register_btn_plumn" type ="button" href="{% url 'login' %}">
            돌아가기
          </a>
          </div>
      </div>
      <hr class="hrhr" />

      {% endblock %}
    </div>
    {% block footer %} {% endblock %}
  </body>
</html>
