/**************************************************/

.containerhome {
  display: flex;
  width: 100%;
  align-items: center;
  /* justify-content: center; */
}

.containerhome2{
  display:flex;
  width: 30%;
}

.btn_plumnn,
.afterlog_btn_plumnn {
  margin-left: 180px;
  width: 200px;
  margin-top: 20px;
  position: relative;
  padding: 15px 35px;
  border-radius: 15px;
  font-weight: 300;
  background-color: white;
  color: #fc9595;
  transition: 0.25s;
  border: 1.5px solid #fc9595;
}

.btn_plumnn:hover,
.afterlog_btn_plumnn:hover {
  background-color: #fc9595;
  border: 1.5px solid #fe8d92;
  color: #ffffff;
  cursor: pointer;
}

.afterlog_btn_plumnn{
  margin-left: 0px;
}

.picture {
  max-width: 100%;
}

.img-box {
  width: 70%;
}

/* 아이디 박스 */
.id_wrap {
  margin-bottom: 20px;
  width: 80%;
}

.id_wrap input {
  width: 110%;
  height: 4vh;
  border-radius: 10px;
  padding: 0px 20px;
  border: 1px solid lightgray;
  outline: none;
  margin-top: 20px;
}

.id_wrap input:focus {
  border: 1px solid #fc9595;
}

/* 비밀번호 박스 */
.pw_wrap {
  margin-top: 20px;
  width: 80%;
}

.pw_wrap input {
  width: 110%;
  height: 4vh;
  border-radius: 10px;
  padding: 0px 20px;
  border: 1px solid lightgray;
  outline: none;
  margin-top: 20px;
}

.pw_wrap input:focus {
  border: 1px solid #fc9595;
}

/* 로그인 부수 요소 */
.login_etc {
  padding: 10px 0px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: lighter;
}

.login_etc li {
  position: relative;
  display: inline-block;
}

.find_text {
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  padding-left: 5px;
  text-decoration: none;
  color: gray;
}

.find_text:hover {
  color: #fc9595;
}

li + li::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -25px;
  width: 1px;
  height: 12px;
  border-radius: 3px;
  background-color: lightgray;
}

.picture_wrap{
  display: flex;
}

.login {
  display: flex;
  margin: 0 auto;
}

/* 로그인 버튼 */
/* button {
  margin: 20px;
} */


.btn_plumn {
  margin-left: 180px;
  width: 200px;
  margin-top: 20px;
  position: relative;
  padding: 15px 50px;
  border-radius: 15px;
  font-weight: 300;
  background-color: white;
  color: #fc9595;
  transition: 0.25s;
  border: 1.5px solid #fc9595;
  color: #fc9595;
}

.btn_plumn:hover {
  background-color: #fc9595;
  border: 1.5px solid #fe8d92;
  color: #ffffff;
  cursor: pointer;
}

.login_id_error{
  display: flex;
  color: red;
  margin-top: 20px;
  justify-content: flex-end;
}

.login_success_after_text{
  display: flex;
  width:30%;
  flex-direction: column;
}

.success_after_text{
  font-size: 24px;
  text-align: center;
}

.login_success_after_btn{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;

}
/* #FA777C */

/**************************************************/
/*register.html 회원가입 부분 */

.input_margin {
  margin-top: 20px;
}

.register_wrap {
  /* display: flex;
  flex-direction: column; */
  text-align: center;
}

.register_text {
  margin: 0 auto;
  width: 500px;
  margin-top: 100px;
  margin-bottom: -40px;
}

.text_wrap > h4 {
  color: #fc9595;
  text-align: left;
}

.text_wrap {
  margin-top: 50px;
}

/* 입력창 (공통) */
.text_wrap input {
  width: 100%;
  height: 30px;
  border-radius: 10px;
  padding: 0px 20px;
  border: 1px solid lightgray;
  outline: none;
}

.text_wrap input:focus {
  border: 1px solid #fc9595;
}

.certification {
  display: flex;
  align-items: flex-start;
}

.certify_btn {
  margin-top: 10px;
  padding: 15px 20px;
  border-radius: 10px;
  font-weight: 200;
  background-color: white;
  color: #fc9595;
  transition: 0.25s;
  width: 200px;
}

.certify_btn_plumn {
  border: 1.5px solid #fc9595;
  color: #fc9595;
}

.certify_btn_plumn:hover {
  background-color: #fc9595;
  border: 1.5px solid #fe8d92;
  color: white;
  cursor: pointer;
}


.errorlist > li {
  margin-top: 40px;
}
/* 회원가입, 돌아가기 버튼 */

.register {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

.register_btn {
  position: relative;
  padding: 15px 70px;
  border-radius: 10px;
  font-weight: 200;
  background-color: white;
  color: #fc9595;
  transition: 0.25s;
}

.register_btn_plumn {
  border: 1.5px solid #fc9595;
  color: #fc9595;
}

.register_btn_plumn:hover {
  background-color: #fc9595;
  border: 1.5px solid #fe8d92;
  color: white;
  cursor: pointer;
}

.register > div {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
}

/**************************************************/

/* 아이디 찾기 창 */

.id_container{
  display: flex;
  width: 100%;
}

.tel_find {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
  flex-wrap: wrap;
  align-content: center;
}

.tel_find input {
  width: 100%;
  height: 3.5vh;
  border-radius: 10px;
  padding: 0px 20px;
  border: 1px solid lightgray;
  margin-bottom: 30px;
  outline: none;
}

.tel_find input:focus {
  border: 1px solid #fc9595;
}

.tel_text{
  margin-bottom: 30px;
}

.text_wrapingId {
  display: flex;
  margin: 0 auto;
  margin-top: 250px;
  margin-left: 100px;
  width: 300px;
}

.find_id_btn_plumn {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 15px 50px;
  border-radius: 15px;
  font-weight: 300;
  background-color: white;
  color: #fc9595;
  transition: 0.25s;
  border: 1.5px solid #fc9595;
}

.find_id_btn_plumn:hover {
  background-color: #fc9595;
  border: 1.5px solid #fe8d92;
  color: #ffffff;
  cursor: pointer;
}

.find_id_error{
  color: red;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-left: 25px;
}

.hr_accountA{
  text-decoration: none;
}

.hr_accountA:visited{
  color: mediumturquoise;
}

.hr_account{
  text-align: center;
}

/**************************************************/

/* 아이디 찾기 성공 창*/

.listId {
  border: 1px solid lightgray;
  color: black;
  padding: 30px 30px;
  border-radius: 10px;
}

.find_id {
  display: flex;
  margin-top: 40px;
}

.success_id_btn {
  position: relative;
  padding: 15px 30px;
  border-radius: 10px;
  font-weight: 200;
  background-color: white;
  color: #fc9595;
  transition: 0.25s;
  width: 200px;
}
.success_id_btn_plumn {
  border: 1.5px solid #fc9595;
  color: #fc9595;
}
.success_id_btn_plumn:hover {
  background-color: #fc9595;
  border: 1.5px solid #fe8d92;
  color: white;
  cursor: pointer;
}
/**************************************************/

/* 비밀번호 찾기 창 */

.email_find > p {
  width: 100%;
}

.email_find > p > input {
  width: 100%;
  height: 3.5vh;
  border-radius: 10px;
  padding: 0px 20px;
  border: 1px solid lightgray;
  margin-bottom: 50px;
  outline: none;
} 

.email_find {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
  flex-wrap: wrap;
}

.email input {
  width: 100%;
  height: 3.5vh;
  border-radius: 10px;
  padding: 0px 20px;
  border: 1px solid lightgray;
  margin-bottom: 50px;
  outline: none;
}

.email input:focus {
  border: 1px solid #fc9595;
}

.findPw_Wrap{
  width: 250px;
}

.text_wraping {
  display: flex;
  margin: 0 auto;
  margin-top: 200px;
  margin-left: 100px;
}

.find_pw_btn_plumn {
  width: 100%;
  margin: 0 auto;
  margin-left: 20px;
  position: relative;
  padding: 15px 35px;
  border-radius: 15px;
  font-weight: 300;
  background-color: white;
  font-size: 10pt;
  color: #fc9595;
  transition: 0.25s;
  border: 1.5px solid #fc9595;
}

.find_pw_btn_plumn:hover {
  background-color: #fc9595;
  border: 1.5px solid #fe8d92;
  color: white;
  cursor: pointer;
}

.hr_register {
  border: none;
  border-top: 1px solid lightgray;
  overflow: visible;
  text-align: center;
  margin-top: 24px;
  height: 16px;
}

.hr_register::after {
  content: "또는";
  position: relative;
  top: -15px;
  background-color: white;
  padding: 0 10px;
  color: mediumturquoise;
  font-size: 16px;
}

.email_find > p > label{
  display: none;
  color: black;
}


/* 전체 hr 고정 */
.hrhr {
  margin-top: 50px;
  border: none;
  border-top: 1px solid lightgray;
}


/**************************************************/
/* 비밀번호 변경 메일 확인 창 */

.reset_mail_wrap{
  width: 100%;
  margin: 300px 300px;
  border: 2px solid #fc9595;
  display: flex;
  padding: 30px 30px;
  border-radius: 15px;
  justify-content: center;
  margin-top: 100px;
}

.reset_mail_wrap > span{
  font-size: 24px;
  color: #fc9595;
}


/**************************************************/

/* 비밀번호 변경 창 */
.new_pw input {
  width: 110%;
  height: 30px;
  border-radius: 10px;
  padding: 0px 20px;
  border: 1px solid lightgray;
  outline: none;
}

.new_pw input:focus {
  border: 1px solid #fc9595;
}

.new_pw {
  margin: 30px 0px;
}

.pw_change_font {
  color: #fc9595;
  font-size: 8px;
  text-align: left;
  margin-top: 2px;
}

.errorlist > li {
  color: red;
  margin-bottom: 10px;
  margin-left: 5px;
}

.change_pw {
  display: flex;
  flex-direction: column;
}

.change_button {
  display: flex;
  justify-content: center;
}

.change_pw_btn {
  margin: 0 auto;
  margin-top: 30px;
  position: relative;
  padding: 15px 40px;
  border-radius: 15px;
  font-weight: 200;
  background-color: white;
  font-size: 11pt;
  color: #fc9595;
  transition: 0.25s;
  width: 200px;
}

.change_pw_btn_plumn {
  border: 1.5px solid #fc9595;
  color: #fc9595;
}

.change_pw_btn_plumn:hover {
  background-color: #fc9595;
  border: 1.5px solid #fe8d92;
  color: white;
  cursor: pointer;
}

.pw_alert_text > p > label{
  color: black;
  float: left;
  margin-bottom: 10px;
}


.pw_alert_text > p{
  width: 80%;
}

.pw_alert_text >ul{
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 12px;
  color: #fc9595;
}

/* 입력창 (공통) */

/**************************************************/

/* 아이디 찾기 창과 같은 클래스 사용 */

/* 반응형 웹 */

@media screen and (max-width: 1280px){
  .containerhome{
    flex-direction: column;
  }
  .login{
    width: 300px;
  }

  .btn_plumn{
    margin: 0 auto;
    margin-top: 20px;
  }
  .login_id_error{
    justify-content: center;
  }
  
  /* 아이디 찾기 창 */

  .id_container{
    flex-direction: column;
  }

  .tel_text{
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .text_wraping{
    margin: auto;
    margin-top: 0px;
  }

  .text_wrapingId{
    margin: auto;
    margin-top: 0px;
  }

  .tel_find{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
  }

  .find_id_error{
    margin: 0 auto;
    margin-bottom: 20px;
  }
  
  .find_id_btn_plumn{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .find_pw_btn_plumn{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .errorlist > li {
    color: red;
    margin-bottom: 20px;
    text-align: center;
  }

  .tel_find > p > input {
    width: 100%;
  }

  .email_find > p > input{
    margin: 0 auto;
    width: 85%;
    margin-bottom: 50px;
  }
}