#slidebanner {
  width: 80vw;
  height: 40vw;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 60px;
}
.slides {
  position: absolute;
  display: flex;
  left: 0;
  top: 0;
  width: 80vw;
}
.slides li:not(:last-child){
  float: left;
}
.slides img {
  width: 80vw;
}
.slide-anch span{
  position: absolute;
  top: 50%;
  cursor: pointer;
  font-size: 2em;
  background-color: transparent;
}
.slide-anch span:hover{
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.11);
}
.prev {
  right: 99%;
}
.next {
  left: 99%;
}

/* 추천 글 */
#recommend-container {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.plumnh3 {
  font-size: 2em;
}
.recolist-anch, .recolist-anch:visited {
  margin-top: 30px;
  text-decoration: none;
  color: black;
  align-self: flex-end;
}
.anchoverlay {
  bottom: 0;
  left: 0;
  width: 140px;
  height: 3px;
  align-self: flex-end;
  background-color: #FC9595;
  opacity: 0.5;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s;
}
.recolist-anch:hover ~ .anchoverlay {
  transform: scaleX(1);
}
.recommend-list{
  display: flex;
  margin-top: 30px;
  justify-content: space-around;
}
.recommend-item {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  flex-direction: column;
}
.recommend-item a{
  overflow: hidden;
  position: relative; 
}
.recommend-item figcaption{
  position: absolute;
  background-color: rgba(0,0,0,0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  line-height: 200px;
  opacity: 0;
  transition: 0.3s;
}
.recommend-item a:hover figcaption, .recommend-item a:focus figcaption{
  opacity: 1;
}
.recommend-list img {
  max-width: 100%;
  height: auto;
}
.recommend-list h4 {
  font-size: 1.3em;
  align-self: center;
  margin-top: 10px;
}
.recommend-list p {
  align-self: flex-end;
  margin-top: 10px;
}
.recommend-item figcaption{
  font-size: 1.5rem;
  padding-top: 30%;
}


/* topic부분 */
#topic-container {
  width: 80vw;
  margin: 50px auto 0;
}
.topic-list {
  display: grid;
  margin: 60px 200px 0 200px;
  grid-template-columns: repeat(6, 10vw);
  grid-gap: 1.5em;
  justify-content: space-around;
}
.topic-item{
  width: 10vw;
  height: 40px;
  background-color: white;
  border-radius: 30px;
  border: #FC9595 solid 1px;
  text-align: center;
  position: relative;
  text-decoration: none;
  color: #FC9595;
  font-size: 1.3rem;
}
.topic-item:hover {
  background-color: #FC9595;
  color: white;
}
.topic-item span{
  display: block;
  margin-top: 10px;
}

/* 중간 글귀 배너 */
#famous-banner{
  margin-top: 60px;
  background-color: #F6EFEF;
}
.famous-bannerwrap{
  display: flex;
  flex-direction: column;
  padding: 5rem;
  text-align: center;
}
.famous-bannerwrap h1 {
  font-family:"Austria";
  font-size: 2rem;
}
.famous-bannerwrap h2{
  font-family: 'Noto Sans KR';
  font-size: 2rem;
  margin-top: 50px;
  opacity: 0.2;
}