<!-- 아이디 찾기 -->
{% extends 'base.html' %} {% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link href="{% static 'img/plumn_icon.png' %}" rel="shorcut icon" />
    <title>{% block title %} 아이디 찾기창 {% endblock %}</title>
    {% block head %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    {% endblock %}
  </head>

  <body>
    {% block content %}
    <form method="POST">
      {% csrf_token %}
    <div>
      <div class="container">
        <a href="{% url 'index' %}">
          <img class="picture" src="{% static 'img/plumn.png' %}"/></a>
        <div class="text_wrap">
          <div class="tel_find">
            <h4>전화번호를 입력해주세요!</h4>
            <input type="tel" name="user_phone" id="" placeholder="전화번호 입력" />
            {% if messages %}
            {% for message in messages %}
              <span style="color: red;">  {{ message.message }} </span>
            {% endfor %}
            {% endif %}
            <button class="btn btn_plumn" type="submit"><span>아이디찾기</span></button>
          </a>
          </div>
        </div>
      </div>
      <hr class="hr_register" />
      <a href="{% url 'register' %}"> <p>계정 생성</p></a>
    </form>
      {% endblock %}
    </div>
    {% block footer %} {% endblock %}
  </body>
</html>