<!-- 로그인 -->
{% extends 'base.html' %} {% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <link href="{% static 'img/plumn_icon.png' %}" rel="shorcut icon" />
  <title>{% block title %} 로그인 창 {% endblock %}</title>
  {% block head %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}" />
  {% endblock %}
</head>

<body>
  {% block content %}
  <fieldset class="container">
    <a href="{% url 'index' %}">
      <img class="picture" src="{% static 'img/plumn.png' %}" /></a>
      {% if user.is_authenticated %}
      <div>
        <h4>{{user.username}}님 안녕하세요!</h4>
      </div>
      <div>
        <a class="register_btn register_btn_plumn" type ="button" href="{% url 'mypage' %}">
        마이페이지
        </a>
        <a class="register_btn register_btn_plumn" type ="button" href="{% url 'logout' %}">
        로그아웃
        </a>
    </div>

      {% else %}

      <div class="login">
      <form method="POST">
        {% csrf_token %}      
    <div class="idpw_wrap">
      <div class="id_wrap">
        <h4>아이디</h4>
        <input type="email" name="email" id="" placeholder="Email" />
      </div>
      
      <div class="pw_wrap">
        <h4>비밀번호</h4>
        <input type="password" name="password" id="" placeholder="Password" />
      </div>
      </form>

      <div class="login_etc">
        <li>
          <a href="{% url 'register' %}" class="find_text">계정 생성하기</a>
        </li>
        <li>
          <a href="{% url 'find_id' %}" class="find_text">아이디 찾기</a>
        </li>
        <li>
          <a href="{% url 'find_pw' %}" class="find_text">비밀번호 찾기</a>
        </li>
      </div>

      <div class="login">
        <button class="btn btn_plumn" onclick="loginSubmit();"><span>로그인</span></button>
      </div>
      {% if messages %}
      {% for message in messages %}
      <span style="color: red;">
          {{ message.message }}
      </span>
      {% endfor %}
      {% endif %}
      {% endif %}
  </fieldset>
  <hr class="hrhr" />
  {% endblock %}
  </div>
  {% block footer %} {% endblock %}
</body>

</html>