{% extends 'base.html' %} {% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <link href="{% static 'img/plumn_icon.png' %}" rel="shorcut icon" />
  <title>{% block title %} 로그인 창 {% endblock %}</title>
  {% block head %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}" />
  {% endblock %}
</head>

<body>
    {% block content %}
    <fieldset class="container">
        초기화 메일을 보냈습니다. 메일로 확인해주세요
        <hr class="hrhr" />
    </fieldset>
    {% endblock %}
    {% block footer %} {% endblock %}
</body>      
</html>