<!-- 비밀번호 찾기 성공창 -->
{% extends 'base.html' %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link href="{% static 'img/plumn_icon.png' %}" rel="shorcut icon" />
    <title>{% block title %}비밀번호 변경 페이지{% endblock %}</title>
    {% block head %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    {% endblock %}
  </head>
  <body>
    {% block content %}
    <form method="POST" >
      {% csrf_token %}
    <div>
      <div class="containerhome">
        <a href="{% url 'index' %}">
          <div class="img-box">
            <a href="{% url 'index' %}">
                <img class="picture" src="{% static 'img/plumn.png' %}" /></a>
                </div>
        <div class="change_pw">
          <h4>비밀번호 재설정</h4>
          <div class="new_pw">
            <div class="pw_alert_text">
            {{form.as_p}}
            </div>
            <div class ="change_button">
            <button
              onclick="certifyAlert()"
              class="change_pw_btn change_pw_btn_plumn"
              type="submit"
            >
              비밀번호 변경
            </button>
          </div>
        </div>
      </div>
      <hr class="hrhr"/>
    </form>
      {% endblock %}
    </div>
    {% block footer %} {% endblock %}
  </body>
</html>