<!-- 프로필 수정 -->
{% extends 'base.html' %}
{% load static %}

{% block title %} 프로필 수정 {% endblock %}
{% block head %}
<link href="{% static 'css/mypage.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div id="mypage">
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mypage_banner">
      <h1>{{user.username}}의 나무이야기</h1>
    </div>

    <div class="edit_bannercolor" onclick="selectColor()">
      <i class="fa-solid fa-palette" style="font-size: 3em;"></i>
    </div>
    <div id="colorSelector" class="">
      <ul class="colorList">
        <li data-color="#CEC8D2"></li>
        <li data-color="#FFF5EB"></li>
        <li data-color="#FFE0D1"></li>
        <li class="active-color" data-color="#C7D8EB"></li>
        <li data-color="#E5DECD"></li>
      </ul>
    </div>

    <div class="mypage_content">
        <div class="mypage_profile">
          <button class="mp_editbtn">
            {% if profile.userphoto %}
            <img src="{{profile.userphoto.url}}">
            {% else %}
            <img src="{% static 'img/needloginuser.png' %}">
            {% endif %}
          </button>
        </div>
      <div class="editpr_ip">  
        <div class="prform">
          {{ form.username }}
          <label class="prInputLabel" for="name">이름</label>
          <span class="spanOverlay"></span>
          <span class="spanBase"></span>
        </div>
        <div class="prform">
            {{ form.userintro }}
            <label class="prInputLabel" for="name">자기소개</label>
            <span class="spanOverlay"></span>
            <span class="spanBase"></span>
        </div>
        <div class="row">
          <div class="col s12">
            <span style="color: red; font-weight: bold;">{{ form.errors }}</span>
          </div>
        </div>
        <div class="edit_combtn">
          <a href="{% url 'mypage' %}"><span>취소하기</span></a>
          <button type="submit"><span>프로필 변경</span></button>
        </div>
      </div>
    </div>
  </form>
</div>
  <script>
    function selectColor(){
        document.getElementById("colorSelector").classList.toggle("show");
    }
  </script>
  <script src="https://code.jquery.com/jquery-3.6.0.slim.js"></script>
  <script src="{% static 'js/colorpicker.js' %}"></script>
{% endblock %}