<!-- 글쓰기 페이지 -->
{% extends 'base.html' %}{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <link href="{% static 'img/plumn_icon.png' %}" rel="shorcut icon">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}플럼 작성하기{% endblock %}</title>
  {% block head %}
  <link rel="stylesheet" href="{% static 'css/post.css' %}">
  {% endblock %}
</head>
<body>
  {% block content %}

  {% endblock %}
  {% block footer %} {% endblock %}
</body>
</html>