<!-- 글 읽기 페이지 -->
{% extends 'base.html' %}{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link href="{% static 'img/plumn_icon.png' %}" rel="shorcut icon">
    <meta charset="UTF-8">
    <title>{% block title %} {{ post.title }} - {{ post.user }} {% endblock %}</title>
    {% block head %}
    <link rel="stylesheet" href="{% static 'css/post.css' %}" />
    {% endblock %}
</head>

<body>
    {% block content %}
    <div class="backimage_wrap">
        <div class="rd_img">
            {% if post.image %}
            <img src="{{ post.image.url }}" alt="아이유" class="background_img">
            {% else %}
            <img src="{% static 'img/mylover.jpg' %}" alt="아이유" class="background_img">
            {% endif %}

            <p class="rd_text">{{ post.title }}</p>
        </div>
    </div>
    <div class="tt_wrap">
        <div class="tt_textandbtn">
            <p class="tt_text">{{ post.content }}
            <div class="tt_btn_wrap">
                <span class="list_tag_btn">{{ post.get_topic_display }}</span>
                {% if user == post.user %}
                <div>
                    <button class="tt_feedback" type="button" onclick="updateBtn()">수정</button>
                    <button class="tt_feedback" type="button" onclick="deleteBtn()">삭제</button>
                </div>
                {% else %}
                <button class="tt_feedback" type="button" onclick="reportBtn()">이의제기</button>
                {% endif %}
            </div>
            </p>
        </div>

        <div class="myintro_box">
            <div class="myintro_info">작가 정보</div>
            <hr class="myintro_hr">
            <div class="myintro_profile">
                <div class="profile_photo">
                    <img src="{% static 'img/needloginuser.png' %}" alt="아이유" class="profile_img">
                </div>
                <p class="profile_name">{{ post.user }}</p>
                <!-- <p class="profile_description">{{ profile.userintro }}</p> -->
                <button class="profile_follow" id="follow_btn" onclick="changebtnName()">구독</button>
            </div>
        </div>
    </div>
    <!-- 댓글  -->
    <div class="commentBox">
        <!-- 1) -->
        <div class="user_comment">
            <img src="{% static 'img/mylover.jpg' %}" alt="프로필" class="chat_profileImage">
            <span class="chat_profile_name">{{ post.user }}</span>
            <p class="js_comment commenting">잘보고있어요 !</p>
        </div>

        <!-- 2) -->
        <div class="main_comment">
            <!-- 요기에다가 만들면ㄷ ㅚ지 않을까 ? -->
        </div>
    </div>
    <form action="">
        <div class="chatbox">
            <div class="chat_profile">
                <img src="{% static 'img/mylover.jpg' %}" alt="프로필" class="chat_profileImage">
                <p class="chat_profile_name">{{ post.user }}</p>
            </div>
            <div class="chat_userProfile">
                <input class="chat_comment" type="text" placeholder="댓글을 입력해주세요" value="">
                <button class="chat_button">쓰기</button>
            </div>
        </div>
    </form>

    <hr class="content_alert">

    <div class="dif_writing">
        <span>이 작가의 다른 게시글 보기</span>
    </div>
    <!-- 첫번째 게시글 -->
    <div class="writing_list">
        <div class="list_text">
            <div class="writing_title">
                <span class="list_title_text">Ipad Air 4세대 리뷰<i class="fa-solid fa-lock"></i>
                    <span class="lock_free_text">이 글은 유료글 입니다.</span></span>
            </div>
            <div class="writing_content">
                <p class="list_content">아이패드 4세대 리뷰 시작해보겠습니당~ 우선 프로나 기본 아이패드, 미니에 비해서는 어쩌구저쩌구~~</p>
            </div>
            <div class="writing_dateother">
                <span class="list_date">August.08.2022</span>
                <span class="list_comment">댓글 10</span>
                <span class="list_like"><i class="fa-solid fa-heart"></i>10</span>
                <span class="list_tag_btn">#IT</span>
                <span class="list_writer">by GraceKim</span>
            </div>
        </div>
        <div class="list_photo">
            <img src="{% static 'img/mylover.jpg' %}" alt="아이유" class="list_photosize">
        </div>
    </div>
    <hr class="list_hr">
    <!-- 두번째 게시글 -->
    <div class="writing_list">
        <div class="list_text">
            <div class="writing_title">
                <span class="list_title_text">Ipad Air 4세대 리뷰<i class="fa-solid fa-lock"></i>
                    <span class="lock_free_text">이 글은 유료글 입니다.</span></span>
            </div>
            <div class="writing_content">
                <p class="list_content">아이패드 4세대 리뷰 시작해보겠습니당~ 우선 프로나 기본 아이패드, 미니에 비해서는 어쩌구저쩌구~~</p>
            </div>
            <div class="writing_dateother">
                <span class="list_date">August.08.2022</span>
                <span class="list_comment">댓글 10</span>
                <span class="list_like"><i class="fa-solid fa-heart"></i>10</span>
                <span class="list_tag_btn">#IT</span>
                <span class="list_writer">by GraceKim</span>
            </div>
        </div>
        <div class="list_photo">
            <img src="{% static 'img/mylover.jpg' %}" alt="아이유" class="list_photosize">
        </div>
    </div>
    <hr class="list_hr">

    <div class="dif_writing">
        추천 게시글
    </div>
    <!-- 첫번째 추천 게시글 -->
    <div class="writing_list">
        <div class="list_text">
            <div class="writing_title">
                <span class="list_title_text">Ipad Air 4세대 리뷰<i class="fa-solid fa-lock"></i>
                    <span class="lock_free_text">이 글은 유료글 입니다.</span></span>
            </div>
            <div class="writing_content">
                <p class="list_content">아이패드 4세대 리뷰 시작해보겠습니당~ 우선 프로나 기본 아이패드, 미니에 비해서는 어쩌구저쩌구~~</p>
            </div>
            <div class="writing_dateother">
                <span class="list_date">August.08.2022</span>
                <span class="list_comment">댓글 10</span>
                <span class="list_like"><i class="fa-solid fa-heart"></i>10</span>
                <span class="list_tag_btn">#IT</span>
                <span class="list_writer">by GraceKim</span>
            </div>
        </div>
        <div class="list_photo">
            <img src="{% static 'img/mylover.jpg' %}" alt="아이유" class="list_photosize">
        </div>
    </div>
    <hr class="list_hr">
    <!-- 두번째 추천 게시글 -->
    <div class="writing_list">
        <div class="list_text">
            <div class="writing_title">
                <span class="list_title_text">Ipad Air 4세대 리뷰<i class="fa-solid fa-lock"></i>
                    <span class="lock_free_text">이 글은 유료글 입니다.</span></span>
            </div>
            <div class="writing_content">
                <p class="list_content">아이패드 4세대 리뷰 시작해보겠습니당~ 우선 프로나 기본 아이패드, 미니에 비해서는 어쩌구저쩌구~~</p>
            </div>
            <div class="writing_dateother">
                <span class="list_date">August.08.2022</span>
                <span class="list_comment">댓글 10</span>
                <span class="list_like"><i class="fa-solid fa-heart"></i>10</span>
                <span class="list_tag_btn">#IT</span>
                <span class="list_writer">by GraceKim</span>
            </div>
        </div>
        <div class="list_photo">
            <img src="{% static 'img/mylover.jpg' %}" alt="아이유" class="list_photosize">
        </div>
    </div>
    <hr class="list_hr">

    <script>
        function reportBtn() {
            window.location = "{% url 'readreport' post.id %}";
        }
        function updateBtn() {
            window.location = "{% url 'update' post.id %}";
        }
        function deleteBtn() {
            if (confirm("게시글을 삭제하시겠습니까?") == true) {
                alert("게시글이 삭제되었습니다.")
                window.location = "{% url 'delete' post.id %}";
            } else {
                return false;
            }
        }
    </script>
    <script src="{% static 'js/btnchange.js' %}"></script>
    <script src="{% static 'js/reportChat.js' %}"></script>
    {% endblock %}

    {% block footer %} {% endblock %}
</body>

</html>